.contactContainer{
    margin: 20px auto;
    padding:50px 0 30px 0;
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactContainer form{
    margin-top:25px;
    width:80%;
    display:flex;
    align-items: center;
    font-size:2rem;
}
.contactContainer input{
    text-align: start;
    width:25%;
    margin-top:10px;
}
label{
    margin-top:10px;
}
.contactContainer textarea{
  padding:50px;
  width:25%;
  margin-top:10px;
}
.invalid{
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }
  
  .invalid:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
  }
  
  .errorText {
    color: #b40e0e;
    text-align: center;
  }
  
  .loginFormButton button:disabled,
  .loginFormButton:disabled:hover,
  .loginFormButton:disabled:active {
    background-color: #ccc;
    color:#292929;
    border-color:#ccc;
  }
.reviewFormButton{
  margin-top:20px;
}
.wishesModal{
  padding:50px;
  text-align: center;
  font-size:20px;
}
@media  screen and (max-width: 1024px) { 
  .heading{
    padding-top:30px;
  } 
  .contactContainer form{
    font-size:1.5rem;
    padding-bottom:30px;
    margin-top:0;
   }
   .contactContainer input{
    text-align: start;
    width:100%;
    margin-top:10px;
}
.contactContainer textarea{
  padding:50px;
  width:80%;
  margin-top:10px;
}
}
    