.productHeading{
    padding-top:20px;
    text-align: center;
}
.products{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    margin: 20px 5% 0 5%;
    padding-bottom:20px;
}
.productItem{
    display: flex;
    flex-direction: column;
    height: 550px;
    border: 1px solid black;
    text-align: center;
}
.productImage {
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    margin-top:25px;
    height: 320px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.productImageDescription{
    opacity: 0;  
    text-decoration: none;
    transform:scale(0);   
    transition:1.8s;
    font-size:1.5rem;
    color:white;
}
.productBody p{
    font-size:1em;
}
.productImage:hover{
     box-shadow: 0 0 0 500px rgba(0,0,0,0.8) inset;
}
.productImage:hover .productImageDescription{
    opacity: 1;
    transform: scale(1);
}
.productModal{
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:25px;
    
}

@media  screen and (max-width: 1024px) { 
    .products{
        grid-template-columns: 1fr 1fr;
        
    }
 
}
@media  screen and (max-width: 768px) { 
    .products{
        grid-template-columns: 1fr;
    }
}