.slider{
    width:85%;
    margin:20px auto;
    padding-top:20px;
}
.slide{
  display:flex;
  height:650px;
  justify-content: space-between;
  align-items: center;
}
.slideImg{
    display:flex;
    justify-content: center;
    width:25%;
    
}
.slideImg img{
    height:250px;
    width:300px;
}


.reviewBody{
    display:flex;
    flex-direction: column;
    width:80%;
    margin-left:5%;
}
.reviewHeading{
    text-align: center;
    font-size:2em;
}
p{
    font-size:1.2em;
}
h4{
    font-size:1.5em;
    align-self: flex-end;
}
.reviewHeading{
    padding-top:30px;
}
@media  screen and (max-width: 1366px) { 
    .slider{
        width:95%;
        margin:0 2.5%;
    }   
    .reviewHeading{
        font-size:1.5em;
    }
    p{
        font-size:1em;
    }
    h4{
        font-size:1.2em;
    }
    .slideImg img{
        height:200px;
        width:250px;
    }
}
    
@media  screen and (max-width: 1024px) { 
.slide{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slideImg{
    margin-left:5%;
}
.slideImg img{
    height:250px;
    width:300px;
}
}