.footerWrapper{
    background-color: #262626;
    color:white;
    text-align: center;
    padding:30px 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
h4{
    margin:0;
}
.footerIconsBlock{
    display:flex;
    justify-content: center;
}
.footerIconsBlock img{
    margin-top:20px; 
    height:50px;
    width:50px;
     margin-right:20px;
}
.footerIconsBlock img:hover{
    background-color: #5f5d5d;
}
input{
    padding:15px 20px;
    margin-right:5px;
}
.footerFormContainer{
    margin-left:20px;
}
.footerForm{
    display:block;
}
@media  screen and (max-width: 768px) { 
   .footerIconsBlock{
       flex-direction: column;
   }   
}