
header{
   margin:0;
   padding:0;
   background-color:#262626;
   position:fixed;
   width:100%;
   z-index: 6;
}
a{
    text-decoration: none;
    color:white;
}
.nav-item a:hover,
.nav-item a.active {
  color: #fab833;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    
}
.nav-branding{
    font-size:2rem;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    font-size:20px;
}
li{
    list-style-type: none;
}
.icon{
    height:25px;
    width:25px;
}
button{
    background:inherit;
    border:none;
    cursor: pointer;
}
.cart{
    height:30px;
    width:25px;
}
.cartBtn{
    position:relative;
}
.badge{
    position: absolute;
    right:5px;
    color:white;
}
.hamburger{
    display:none;
}
select{
    appearance: none;
    -webkit-appearance: none;
    padding: 0 1em;
    color: black;
    background-color: #dddedf;
    cursor: pointer;
    width: 7em;
    height: 2em;
    border-radius: .25em;
    text-align: center;
    font-size:20px;
}
option{
    text-align: center;
    font-size:25px;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
    
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
}
.nav-menu {
    position: fixed;   /*щоб при скролі залишалось */
    left: -120%;
    top: 70px; 
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    gap: 0;
    margin:0;
    padding:0;
    font-size:2em;
}
.nav-menu .icon{
    height:50px;
    width:50px;
}
.nav-menu .cart{
    height:60px;
    width:60px;
}
.open{
    left:0;
    z-index: 2;
}
select{
    margin-bottom: 20px;
    width:100%;
}
}