form{
  display: flex;
  flex-direction: column;
}
input{
  text-align: center;
  margin:5px 0;
}
form button{
  margin:5px 0;
}



.invalid{
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.errorText {
  color: #b40e0e;
  text-align: center;
}

.loginFormButton button:disabled,
.loginFormButton:disabled:hover,
.loginFormButton:disabled:active {
  background-color: #ccc;
  color:#292929;
  border-color:#ccc;
}
.loginWelcome{
  text-align: center;
}
.actions{
  display:flex;
  justify-content: space-evenly;
  gap:5px;
}