.slider{
    width:80%;
    margin:20px auto;
}
.slide{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}
.slideImg{
    width:100%;
    height:65vh;
    border-radius: 5px;
    background-position: center;
    background-size: 100% 115%;
    background-repeat: no-repeat;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
}

.slideDescr{
    opacity: 0;  
    text-decoration: none;
    transform:scale(0);   
    transition:0.8s;
    font-size:2.5rem;
    color:white;
    
}
.slideImg:hover .slideDescr{
    opacity: 1;
    transform: scale(1);
}
.slideImg:hover{
    box-shadow: 0 0 0 500px rgba(0,0,0,0.8) inset;
}
.slide a{
    font-size:2rem;
}
.slide h3{
    font-size:1.6rem;
    padding:0;
}
/* .slideImg:hover{
    
} */

@media  screen and (max-width: 1024px) { 
    .slideImg{
        height:50vh;
        background-size:cover;
    } 
    .slide h3{
        font-size:1.4rem;
    }
}
    