.sortingBlock{
    width: 50%;
    margin: 25px 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 0 25px;
}
.productCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
.productCategory .active{
    background-color:#dddedf;
    color:black;
}
.productCategory img{
    width:25%;
}
.highlighted{
    background-color: #404040;
}
@media screen and (max-width:1024px) {
    .sortingBlock{
        width:85%;
        margin: 25px 7.5%;
        gap:5px;
        padding:0;
    }
}